* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.1rem;
  display:inline;
}

h2 {
  font-size: 1.5rem;
  margin: 0rem auto 0rem 0rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.app {
  width: 100%;
  /* height: 100vh; */
  position:absolute;
  color: white;
}

.app::before{
  content: '';
  background: rgba(0, 0, 0, 0.6) url('./assets/waves-bg.jpg') no-repeat center center/cover;
  background-blend-mode: darken;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Customize the icons in the search bar */
.fa-search, .fa-times{
  font-size: 18px;
}

.fa-triangle-exclamation{
  font-size: 30px;
  display: inline;
}

.fa-heart {
  font-size: 1.8rem;
  margin-right: 1rem;
  line-height: 1rem;
  margin-bottom: 4px;
}

.fa-water {
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
}

.fa-wind {
  font-size: 1.3rem;
  margin-left: 0.7rem;
  margin-right: 0.2rem;
}

.fa-search:hover, .fa-times:hover, .fa-heart:hover {
  cursor: pointer;
}

.app .search {
  display: flex;
  align-items: center;
  margin: 0 auto .8rem auto;
  width: 85%;
  padding: 1rem;
  justify-content: space-between;
  max-width: 400px;
  border-radius: 25px;
  border: 1.7px solid rgba(255, 255, 255, 1.0);
  background: rgba(255, 255, 255, 0.1)  
}

input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0)  
}

::placeholder {
  color:  rgba(255, 255, 255, 0.6)  
} 

.container {
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
  padding: 0 1rem;
  position: relative;
  top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  width: 100%;
  margin: 1.3rem auto;
}

.location{
  margin-bottom: 2rem;
}



.favebox {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.fave {
  border-radius: 15px;
  padding: .2rem .8rem .2rem .8rem;
  border: 1.7px solid rgba(255, 255, 255, 1.0);
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  text-align: center;
}

.warning {
  margin: 1.2rem;
  border-radius: 25px;
  padding: .3rem .8rem .3rem .8rem;
  border: 1.7px solid #ffae00;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  text-align: center;
  color: #ffae00 
}

.current-conditions, .three-day {
  /* display: flex; */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: .5rem auto;
  padding: 1rem;
  border-radius: 15px;
}

.condition {
  margin: .5rem;
}

.rating {
  text-align: center;
}

#warning {
  font-size: 1.2rem;
  font-weight: 500;
}

#temp {
  display: inline;
  margin-left: 0rem;
  font-size: 1.5rem;
}

.current-cond-container{
  margin-top: 1rem
}

.three-day-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 2rem;
  color: white;
}

.feedback {
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 1rem;
  font-size: large;

}